{% extends "admin/base.html" %}
{% block title %}Oilstub Admin{% endblock %}

{% block branding %}
    <h1 id="site-name" style="float: left;">Oilstub Management</h1>
    {% if request.user.is_authenticated %}
        <div class="navbar" style="float: left;
        padding: 5px;
        margin-left: 15px;">
            <a href="{% url 'admin:index' %}" class="ml">Home</a> &nbsp;&nbsp;&nbsp;

            <a href="{% url 'oilandgasdata:upload_files' %}" class="ml">Upload files</a> &nbsp;&nbsp;&nbsp;&nbsp;

        </div>
    {% endif %}

{% endblock %}

{% block breadcrumbs %}
{% endblock %}
